<!DOCTYPE html>
<html>
  <head>
    <title>FileUploadSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav>
          <%= link_to 'Home', root_path, class: 'btn btn-secondary' %>
          <%= link_to 'Your Files', file_uploads_path, class: 'btn btn-secondary' %>
          <%= form_with url: destroy_user_session_path, method: :delete, class: 'inline' do %>
            <%= submit_tag 'Logout', class: 'btn btn-danger', data: { confirm: 'Are you sure you want to log out?' } %>
          <% end %>

        </nav>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success' %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
